html, body, .page_one, .page_two, .page_three, .page_four {
  width: 100%;
  height: 100%;
  position: relative;
}

.page_one {
  background: url("../img/v_bg_01.jpg") no-repeat;
  background-size: cover;
  position: relative;
}

.page_two {
  background: url("../img/v_bg_02.jpg") no-repeat;
  background-size: cover;
}

.page_three {
  background: url("../img/v_bg_03.jpg") no-repeat;
  background-size: cover;

}

.page_four {
  background: url("../img/v_bg_04.jpg") no-repeat;
  background-size: cover;
}

.section .title {
  position: absolute;
  top: 50px;
  left: 50%;
  width: 90px;
  margin-left: -45px;
  text-align: center;
}

.section .title h6 {
  position: absolute;
  top: 5px;
  left: 50%;
  /*移动自身的一半*/
  transform: translateX(-50%);
  opacity: 0;
}

.section .title h6.active {
  opacity: 1;
  top: 30px;
  transition: all 0.5s;
}

.section .title h6.leave {
  opacity: 0;
  transition: all 0.5s;

}

.section .title h2, h6 {
  cursor: pointer;
}

/*第三页*/
.page_three p {
  color: white;
  margin-bottom: 15px;
}

.page_three img {
  border: 1px solid white;
}

/*第四页*/
.page_four .learn {
  background-color: #2d6ea7;
  padding: 0 20px;
  position: absolute;
  top: 100px;
  width: 1000px;
  height: 500px;
  left: 50%;
  margin-left: -500px;
}

.page_four .learn .content {
  background-color: #4f86b6;
  height: 500px;
}
.page_four .learn .content ul{
  position: absolute;
  top: 15px;
}
.page_four .learn .content ul li {
  position: relative;
  height: 225px;
}
.page_four .learn .content ul li .time {
  left: 70px;
  text-align: right;
  top: 10px;
  position: absolute;
}

.page_four .learn .content ul li .time p:first-child {
  color: #b5cad8;
  font-size: 12px;
}

.page_four .learn .content ul li .time p:last-child {
  color: #69baea;
  font-size: 18px;
}

.page_four .learn .content ul li .line {
  background-color: #afdcf8;
  width: 5px;
  height: 225px;
  position: absolute;
  left: 120px;
}
.page_four .learn .content ul li .line .circle {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: #46a4da;
  margin-left: -5px;
  margin-top: 20px;
  border: 2px solid #b5cad8;
}
.page_four .learn .content ul li .details{
  position: absolute;
  left: 140px;
  width: 700px;
  height: 145px;
  background-color: #579dc5;
  border-radius: 5px;
  padding: 30px;
  color: #ffffff;
}
.page_four .learn .content ul li .details>p{
  font-size: 16px;
  margin-bottom: 10px;
}
.page_four .learn .content ul li .details>div>img{
  width: 200px;
  height: 120px;
  border: 1px solid #ffffff;
}
.page_four .learn .content ul li .details>div>div{
  width: 480px;
  height: 115px;
}
.page_four .learn .content ul li .details>div>div span a{
  display: inline-block;
  width: 95px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background-color: #075498;
  border-radius: 5px;
  color: #ffffff;
}