html,body,.page_one,.page_two,.page_three,.page_four{
  width: 100%;
  height: 100%;
}
.page_one{
  background: url("../img/v_bg_01.jpg") no-repeat;
  background-size: cover;
}
.page_two{
  background: url("../img/v_bg_02.jpg") no-repeat;
  background-size: cover;
}
.page_three{
  background: url("../img/v_bg_03.jpg") no-repeat;
  background-size: cover;
}
.page_four{
  background: url("../img/v_bg_04.jpg") no-repeat;
  background-size: cover;
}